<% require 'rubygems' %>
<% require 'dbi' %>

<% dbh = DBI.connect('DBI:SQLite3:bookinfo_sqlite.db') %>
<% rows = dbh.select_all("select * from bookinfos #{where_data};") %>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html">
  <link rel="stylesheet" type="text/css" href="default.css">
  <title>蔵書管理</title>
</head>
<body>
<h1>蔵書管理</h1>

<% unless rows.size > 0 then %>
<%# 検索結果がない時 %>
<h2>該当データがありません</h2>
<p>検索条件を見直してから実行してください｜
<a href="list.erb">蔵書データの表示（検索の解除）</a>|
<a href="index.html">メニュー画面に戻る</a><p>
<hr>

<% else %>
<%# 検索結果があった時 %>
<h2>検索結果の表示</h2>
<p>処理する蔵書データを選択してください｜
<a href="list.erb">蔵書データの表示（検索の解除）</a>|
<a href="index.html">メニュー画面に戻る</a><p>
<hr>

<form method="post" action="list">
<table>
  <tr>
    <th>削除</th><th>修正</th>
<% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
  <th><%= name %></th>
<% end %>  
  </tr>

<% dbh.select_all("select * from bookinfos #{where_data};") do |row| %>
<tr>
<% ['id', 'title', 'author', 'page', 'publish_date'].each do |name| %>
<%     if name == 'id' then %>
  <td><input type="radio" name="operation" value=<%="#{row[name]}.delete" %> /></td>
  <td><input type="radio" name="operation" value=<%="#{row[name]}.edit" %> /></td>
<%     end %>  
  <td><%= "#{row[name].to_s}" %></td>
<%   end %>  
</tr>
<% end %> 
</table>
<input type="submit" value="選択した処理を実行" />
<% end %>
<hr>
</body>
</html>

<% dbh.disconnect %>